Package: enigma2-plugin-extensions-mmpicons
Version: 1.5
Section: base
Priority: optional
Architecture: all
Maintainer: lululla
Description: mmPicons & Skins Version by Lululla & MMark
Source: enigma2-plugin-extensions-mmpicons
Homepage: https://e2skin.blogspot.com/
OE: *
License: *
